.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 200px;

  .user-type-header {
    padding: 8px;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}